* {
	margin: 0px;
}

body, html {
	width: 100%;
	height: 100%;
}



.container {
	padding: 20px 0;
	display: flex;
	background: #8B0000;
}

.img-1 {
	margin: 0px auto 0 10px;
	padding-left: 20px;
	flex: 1;
	padding-top: 15px;
	display: flex;

}
.img-2 {
	margin: 0px auto 0 10px;
	padding-right: 20px;
	flex: 1;
	display: : flex;
}
.nav {
	background: black;
	
}
.ul {
	display: flex;
	text-align: center;
	justify-content: space-around;
	list-style: none;
}
ul li {
	display: inline;

}
li a {
    color: white;
    font: arial;
    padding: 5px 5px 5px 5px;
    margin: 0;
    text-decoration: none;
    width: 10px;
}
.data1 {
	text-align: right;
	margin: 0 20px 0 20px;
}

.nav_top_news {
	margin: auto 20px auto 20px;
	background: grey;
	
}
.nav_top_news li {
	display: inline;
}
.nav_top_news li a {
    color: white;
    font: arial;   
}

.section1 {
	margin: auto 310px auto 20px;
	background: white;
	display: flex;
}

.border_img11 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.border_img12 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.border_img13 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.img-11 {
	flex: 1;
	margin: 10px 10px 10px 0px;
	position: relative;
}
.img-12 {
	flex: 1;
	margin: 10px 10px 10px 10px;
	position: relative;
}
.img-13 {
	flex: 1;
	margin: 10px 0px 10px 10px;
	position: relative;
}

.nav_popular {
	margin: 10px 298px auto 20px;
	background: grey;
	
}
.nav_popular li {
	display: inline;
}
.nav_popular li a {
    color: white;
    font: arial;   
}

.section2 {
	margin: auto 310px auto 20px;
	background: white;
	display: flex;
}

.border_img21 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.border_img22 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.border_img23 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.img-21 {
	flex: 1;
	margin: 10px 10px 10px 0px;
	position: relative;
}
.img-22 {
	flex: 1;
	margin: 10px 10px 10px 10px;
	position: relative;
}
.img-23 {
	flex: 1;
	margin: 10px 0px 10px 10px;
	position: relative;
}
.aside1 {
	position: absolute;
  	top: 170px;
  	right: 10px;
  	background-color: white;
  	color: white;
  	padding-left: 0px;
  	padding-right: 10px;
}
.img-banner2 {
	flex: 1;
	margin: 10px 0px 0px 0px;
	position: relative;
}
.section {
	overflow:auto; 
	display: table-cell;
}

.section_top1 {
	flex: 1;
}

.section_top2 {
	flex: 1;
}
.section_banner3 {
	margin: 10px 20px 10px 20px;
	background: white;
	display: flex;
	padding: 0 100px 0 100px;	
}
.img_section_banner3 {
	flex: 1;	
}

.section_bottom1 {
	margin: auto 310px auto 20px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.border_img31 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;

}

.border_img32 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}

.border_img33 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.border_img34 {
  	position: absolute;
  	bottom: 0px;
  	right: 0px;
  	background-color: black;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;  	
}
.img-31 {
	flex: 1;
	margin: 10px 75px 10px 0px;
	position: relative;
}
.img-32 {
	flex: 1;
	margin: 10px 0px 10px 0px;
	position: relative;
}
.img-33 {
	flex: 1;
	margin: 40px 75px 10px 0px;
	position: relative;
}
.img-34 {
	flex: 1;
	margin: 40px 0px 10px 0px;
	position: relative;
}

.img-banner-4 {
	flex: 1;
	margin: 10px 0px 0px 0px;
	position: relative;
}
.section_bottom2 {
	margin: auto 310px 10px 20px;
	background: white;
	display: flex;
}
.aside2 {
	position: absolute;
  	top: 745px;
  	right: 10px;
  	background-color: white;
  	color: white;
  	padding-left: 0px;
  	padding-right: 20px;
}
footer {
	background: black;
}
.footer_nav {
	background: black;
	
}
.footer_banner {
	display: flex;
}

.img-footer {
	margin: 0 0 0 auto;
	padding-right: 20px;
	display: block;
}
.footer_final {
	text-align: center;
	color: white;
}

@media screen and (max-width: 480px){
	body {
		width: 480px;
	}
}
